In [1]:
# Core libraries
import numpy as np
import pandas as pd

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer

# Models
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

# Evaluation
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

#build model file
import joblib

# Ignore warnings
import warnings

warnings.filterwarnings('ignore')

plt.style.use("seaborn-v0_8-pastel")

sns.set_theme(
    style="whitegrid",
    palette="pastel",
    context="notebook"
)

In [2]:
df = pd.read_csv("nepal_house_data.csv")

In [3]:
df.head()

,location,land_area_sqft,floors,bedrooms,bathrooms,windows,doors,cement_bags,rcc_structure,plumbing,electricity,land_cost,construction_cost,material_cost,total_price
0,Chitwan,1055,1,5,4,13,4,238,1,1,0,6857500,1899000,167460,9043960
1,Dhangadi,2779,2,6,3,9,8,253,1,1,1,15284500,10004400,181760,25670660
2,Pokhara,2018,1,6,2,11,8,405,1,0,0,18162000,3632400,252600,22047000
3,Pokhara,727,4,4,4,5,3,392,1,1,1,6543000,5234400,198640,12176040
4,Pokhara,1447,4,1,4,14,6,221,1,1,1,13023000,10418400,174820,23816220